$border-color: #1a1a1a;
$border-color-dark: rgb(245, 245, 245);

$font-color: #444;
$font-color-dark: rgb(245, 245, 245);
$link-color: #0066cc;
$link-color-dark: #0099ff;

$container-width: 1080px;

$space-sm: 0.5rem;
$space-md: 1rem;

$br-md: 600px;
